body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.banner {
  background-image: url(../../images/background.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner-container {
  width: 900px;
  margin: auto;
}

.banner h1 {
  color: white;
  font-size: 28px;
  margin: 0px;
}

.banner p {
  color: rgba(200, 200, 200, 0.8);
  font-size: 21px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.btn-orange {
  background: #fc8f3c;
  color: white;
  padding: 15px 25px;
  border-radius: 50%;
}

.btn-orange:hover {
  border-radius: 48%;
  opacity: 0.9;
}
